<div class="row">
  <div class="col-md-8"><h1 class="header">Menu</h1></div>
  <div class="col-md-4"></div>
</div>

<p id="notice"><%= notice %></p>


<div class="col-md-4">
<table class="table">
  <thead>
    <tr>
      <th span="name">Name</th>
      <th span="name" id="price">Price</th>
      <th span="name">Description</th>
      <th span="name">Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody span="body">
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= link_to dish.name, edit_dish_path(dish)  %></td>
        <td><%= dish.price %></td>
        <td><%= dish.description %></td>
        <td><%= dish.course_id %></td><br>
        <td id= "link"><%= link_to 'Edit', edit_dish_path(dish) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Dish', new_dish_path %>

</div>
